@import "tailwindcss";

.menu {
  background-color: #2a082c;
  color: rgba(233, 231, 231, 0.851);
}

ul,
li {
  list-style: none;
}

.btn {
  display: flex;
  align-items: center;
}

.lucide {
  height: 16px;
  width: 16px;
}

.lucide-search{
  height: 14px;
  width: 14px;
}

input {
  width: stretch;
}

input:focus,
textarea:focus {
  outline: none;
}


.lucide-plus{
 height: 17px;
 width: 17px;
}

.lucide-send-horizonal{
height: 22px;
 width: 22px;
}